* {
  box-sizing: border-box;
}
/* body{
       overflow: hidden;
} */

.toolbar {
  border: 1px solid rgb(240, 240, 240);
  background-color: rgb(248, 248, 248);
  /* background-color: white; */
  border-radius: 35px;
  box-shadow: 0 3px 10px 0 rgba(0.1, 0.1, 0.1, 0.2),
   0 3px 3px 0 rgba(0.1, 0.1, 0.1, 0.2);
  width: 95vw;
  /* trick element center */
  margin: 0 auto;
  /* the children should have
     space for alignment */
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: space-around;

}

img {
  float: left;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.tool-img {
  /* img ko change to usko height */
  cursor: pointer;
  transition: 0.3s all ease-out;
}
#pencil,
#eraser,
#rect,
#line {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* #undo{
            margin-right: -30px;
        }
        #redo{
            margin-left: -30px;
        } */
.tool-img:hover {
  transform: scale(1.1);
}
.color-container {
  /* border: 2px solid rgb(254, 244, 246); */
  border: 2px solid rgb(195, 192, 195);
  background-color: white;
  border-radius: 40px;
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.red {
  /* background-color: #EF1700; */
  background-color: #c70039;
}
.blue {
  /* background-color: #00A1DF; */
  background-color: #21618c;
}
.green {
  /* background-color: #1A8828; */
  background-color: #196f3d;
}
.black {
  background-color: black;
}
.yellow {
  /* background-color: #FFDC26; */
  background-color: #f4d03f;
}
/* tool options */
.size-box {
  width: 110px;
  height: 30px;
  border: 2px solid rgb(195, 192, 195);
  border-radius: 40px;
  align-items: center;
  justify-content: space-evenly;
  /* display: flex; */
  display: none;
  background-color: white;
}

.size {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.size1 {
  height: 10px;
  width: 10px;
}

.size2 {
  height: 14px;
  width: 14px;
}

.size3 {
  height: 18px;
  width: 18px;
}

.size4 {
  height: 22px;
  width: 22px;
}

/* icons  */
.fas {
  font-size: 2rem;
}

/* sticky notes */
/* div -> parent width  */
.navbar {
  display: flex;
  height: 24px;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
  background-color:  #feff9c;
  opacity: 0.8;
}
.close {
  height: 15px;
  width: 15px;
  background-color: #D90429;
  opacity: 1;
  border-radius: 50%;
  margin-right: 5px;
}
.minimize {
  height: 15px;
  width: 15px;
  background-color: #4D8B31;
  border-radius: 50%;
  margin-right: 5px;
}
.sticky {
  width: 200px;
  height: 200px;
}
.textarea {
  -webkit-box-shadow: 6px 7px 6px -3px rgba(191,172,138,0.71);
-moz-box-shadow: 6px 7px 6px -3px rgba(191,172,138,0.71);
box-shadow: 6px 7px 6px -3px rgba(191,172,138,0.71);
  /* box-shadow: rgba(218, 213, 200, 0.098) 0px 8px 24px;  */
  height: 176px;
  width: 200px;
  outline: none;
  border: 1px solid #feff9c;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid #feff9c;
  padding: 20px;
  background-color:  #feff9c;
  font-family: 'Kalam', cursive;
  font-size: 1rem;
}
.uploaded-img{
  height: 99%;
  width: 99%;
}
